<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Themes Industry">
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and HTML5 template with 14 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, faq">
    <!-- Page Title -->
    <title>Blog | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link rel="icon" href="~/blog/img/favicon.ico">
    <!-- Bundle -->
    <link rel="stylesheet" href="~/vendor/css/bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogTask2.styles.css" asp-append-version="true" />


    <link rel="stylesheet" href="~/vendor/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/blog/css/animate.min.css">
    <link rel="stylesheet" href="~/blog/css/jquery.fancybox.css">
    <link rel="stylesheet" href="~/blog/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/blog/css/line-awesome.min.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/blog/css/style.css">
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="150">

    <!--  PRELOADER  -->
    <div class="loader-area">
        <div class='loader'>
            <div class='one'></div>
            <div class='two'></div>
            <div class='three'></div>
        </div>
    </div>

    <header>

        <nav id="my-nav" class="navbar navbar-expand-lg navbar-light rounded-bar sidemenu-nav">

            <div class="logo width-logo1">
                <a href="index-blog.html"><img src="~/blog/img/logo-white.png" alt="Logo Img"></a>
            </div>
            <div class="menu-btn ml-auto">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </nav>

        <div class="outer-wrapper">

            <div class="overlay1">

                <a class="close-outerwindow"><i class="las la-times"></i></a>

                <nav class="navbar-1 w-100">

                    <div class="row text-center">

                        <div class="col-12">
                            <div class="logo-img text-center">
                                <a href="index-blog.html"><img src="~/blog/img/logo.png" alt="Logo Img"></a>
                            </div>

                            <ul class="navbar-nav mt-5 text-center small-nav">
                                <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="~/blog/top-stories.html">Top Stories</a></li>
                                <li class="nav-item"><a class="nav-link" href="~/blog/blogs.html">Blogs</a></li>
                                <li class="nav-item"><a class="nav-link" href="~/blog/contact.html">Contact</a></li>
                            </ul>
                            <ul class="footer_ul text-center mt-3 margin-top">
                                <li class="footer_list"><i class="lab la-facebook-f"></i></li>
                                <li class="footer_list"><i class="lab la-twitter"></i></li>
                                <li class="footer_list"><i class="lab la-google-plus"></i></li>
                                <li class="footer_list"><i class="lab la-linkedin-in"></i></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </header>
            @RenderBody()
    <section id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="footer_ul">
                        <li class="footer_list"><i class="lab la-facebook-f"></i></li>
                        <li class="footer_list"><i class="lab la-twitter"></i></li>
                        <li class="footer_list"><i class="lab la-google-plus"></i></li>
                        <li class="footer_list"><i class="lab la-linkedin-in"></i></li>
                        <li class="footer_list"><i class="lab la-instagram"></i></li>
                        <li class="footer_list"><i class="las la-envelope"></i></li>
                    </ul>
                    <p class="info footer_text"><i class="far fa-copyright"></i>2020 MegaOne. Made with love by themesindustry</p>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    <script src="~/vendor/js/bundle.min.js"></script>

    <!-- Plugin Js -->
    <script src="~/vendor/js/owl.carousel.min.js"></script>
    <script src="~/vendor/js/jquery.cubeportfolio.min.js"></script>
    <!-- custom script -->
    <script src="~/blog/js/jquery.fancybox.js"></script>
    <script src="~/blog/js/jquery.fancybox.min.js"></script>
    <script src="~/blog/js/mediaelement-and-player.min.js"></script>
    <script src="~/blog/js/wow.min.js"></script>
    <script src="~/vendor/js/parallaxie.min.js"></script>
    <script src="~/blog/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>