@using BlogTask2.Models.Auth;
@{
    Layout = null;
}

<style>

    body {
  margin: 0;
  padding: 0;
  background-color: #0f0f1a;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  background-color: #1e213a;
  padding: 20px;
  border-radius: 10px;
  border-top: 4px solid #19d4ca;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: #fff;
  transition: box-shadow 0.3s;
}

input:focus {
  box-shadow: 0 0 10px #19d4ca;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.login-button,
.register-link {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  text-decoration: none;
}

.login-button {
  background-color: transparent;
  color: #19d4ca;
}

.login-button:hover {
  background-color: #19d4ca;
  color: #fff;
  box-shadow: none;
}

.login-button:active {
  box-shadow: 0 0 10px #19d4ca;
}

.register-link {
  color: #ccc;
  background-color: transparent;
}

.register-link:hover {
  color: #fff;
}

.register-link:active {
  box-shadow: 0 0 10px #ccc;
}


</style>

@model LoginVM;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    <h1 class="title">Login</h1>
    <div class="card">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            
            <input asp-for="UserName" type="text" placeholder="Username">
            <span class="text-danger" asp-validation-for="UserName"></span>

            <input asp-for="Password" type="password" placeholder="Password">
            <span class="text-danger" asp-validation-for="UserName"></span>

            <div class="buttons">
                <a asp-action="Register" class="register-link">Register</a>
                <button type="submit" class="login-button">Login</button>
            </div>

        </form>
    </div>
</div>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>